$c-white-1: #ffffff;
$c-white-2: #F6F6F8;
$c-gray-1: #293244;
$c-gray-2: #A0A9B8;
$c-gray-3: #D0D4DC;
$c-gray-4: #44537180;
$c-gray-5: #4453711a;
$c-black-1: #3A353E;
$c-blue-1: #45A5F6;
$c-blue-2: #C7E4FC;
$c-blue-3: #DAEDFD;
$c-blue-4: #7ABEF8;
$c-blue-5: #007EE5;
$c-red-1: #E12828;
$c-red-2: #FADEE0;
$c-violet: #6447CF;

$c-title-text: $c-black-1;

$c-attention-bg: $c-red-2;
$c-attention-text: $c-red-1;

$c-upload-button-bg: $c-white-2;
$c-upload-button-icon-wrapper-bg: $c-blue-3;
$c-upload-button-title-text: $c-black-1;

$c-steps-text: $c-gray-2;

$c-progress-bar-bg: $c-blue-2;
$c-progress-bar-fill: $c-blue-4;

$c-button-bg: $c-blue-1;
$c-button-text: $c-white-1;
$c-button-bg-hover: $c-blue-5;
$c-button-disabled-bg: $c-gray-5;
$c-button-disabled-text: $c-gray-4;