$c-white-1: #ffffff;
$c-white-2: #F6F6F8;
$c-gray-1: #293244;
$c-gray-2: #A0A9B8;
$c-gray-3: #D0D4DC;
$c-gray-4: #44537180;
$c-gray-5: #4453711a;
$c-black-1: #3A353E;
$c-blue-1: #45A5F6;
$c-blue-2: #C7E4FC;
$c-blue-3: #DAEDFD;
$c-red-1: #E12828;
$c-red-2: #FADEE0;
$c-violet: #6447CF;

$c-title-text: $c-black-1;

$c-attention-bg: $c-red-2;
$c-attention-text: $c-red-1;